<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TrazGas</title>

  <link rel="stylesheet" href="/public/css/bootstrap.min.css">
</head>
<body>

  {{>_navbar}}
  {{>_msg}}

  <div class="container mt-4">
  <!-- Aqui entra o conteúdo das subpáginas -->
  {{{body}}}
  </div>

  <script src="/public/js/bootstrap.bundle.min.js"></script>
</body>
</html>
